*.{
    margin: 0px;
    padding: 0px;
}

.container {
    width: 900px;
    height: 950px;
    background-color: rgba(255, 255, 255, 0.959);
}
.div1 {
    background-color: rgb(186, 151, 219);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 15px;
}
.div2{
    background-color: rgb(153, 141, 141);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 15px;
}

.div3 {
    background-color: rgb(135, 212, 104);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 15px;
}


img{
    width: 200px;
    border: 2px solid black;
    background-color: skyblue;
    margin: 15px;
}
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    margin: 0px;
}
p {
    text-align: center;
    font-size: larger;
}